{% extends "network/layout.html" %}

{% block body %}
<main id="main">
    <div class="container">
        <h1>All Posts</h1>
        <div class="element-control">
            <form id="postForm">
                <div className="form-group">
                    <label>New Post</label>
                    <textarea id="postInput" class="form-control" rows="2" max_length="280"
                        placeholder="What´s happening?"></textarea>
                    <button type="button" id="submitPost" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>
        <div id="allposts">
        </div>
        <div id="profil">
        </div>
    </div>
</main>
{% endblock %}