{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <h2>All Posts</h2>
    <div class="element-control">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ newPostForm }}
                <input type="hidden" name="user" value="{{ user.username }}">
                <input type="submit" class="btn btn-primary" value="Post">
            </div>
        </form>
    </div>
    {% for post in allposts %}
    <div class="element-control">
        <b>{{ user.username }}</b>
        <br><br>
        <a href="#">Edit</a>
        <br>
        {{ post.text }}
        <br>
        <span>{{ post.timestamp }}
        </span>
        <br>
        <span>&#10084;&#65039;0</span>
        <br>
        <span>Comment</span>
    </div>
    {% endfor %}
</div>
{% endblock %}