{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <div id="profil">
        {% if user.first_name == "" %}
        <h2>{{ user.username }}</h2>
        {% else %}
        <h2>{{ user.first_name }}</h2>
        {% endif %}
        <span style="color:lightgrey;">@{{ user.username }}</span>
        <br>
        <a href="#"><b>{{ followingCount }}</b> Following</a>
        <a href="#"><b>{{ followerCount }}</b> Followers</a>
        {% if request.user.id != user.id and user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user.username }}"></input>
            <input type="hidden" name="follower" value="{{ request.user.username }}"></input>
            {% if alreadyFollowing == False %}
            <input type="submit" style="float:right;" class="btn btn-primary" name="action" value="Follow"></input>
            {% else %}
            <input type="submit" style="float:right;" class="btn btn-primary" name="action" value="Unfollow"></input>
            {% endif %}
        </form>
        {% endif %}
    </div>
    <div class="allposts">
        {% for post in userPosts %}
        <div class="element-control">
            <a href="{% url 'profil' post.username %}">
                <b>
                    <i class="fas fa-user-circle"></i>
                    {% if post.first_name|length == 0 %}
                    {{ post.username }}
                    {% else %}
                    {{ post.first_name }}
                    {% endif %}
                </b>
            </a>
            <span>@{{ post.username }} &#183; 45m</span>
            <br><br>
            {% if request.user.id == post.username.id and user.is_authenticated %}
            <a href="#">Edit</a>
            <br>
            {% endif %}
            {{ post.text }}
            <br>
            <span>{{ post.timestamp }}
            </span>
            <br>
            <span><i class="fas fa-heart" style="color:red;"></i> 0</span>
            <br>
            <span>Comment</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}