h1, h2, h3, h4, h5, h6{
    font-weight:600;
    font-family: 'Zilla Slab', serif;
}
body{
    background-color:#dae0e6;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.body{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#main{
    max-width:600px;
    width:100%;
}
#main-wrapper{
    max-width: 1225px;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    flex-direction: row;
    display: flex;
    padding: 0.8rem 0 0 0;
}

.body{
    width: 990px;
}
#sidebar{
    width:350px;
}
#sidebar section{
    padding:10px 20px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.75);
}
.element-control{
    padding:10px 20px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin-bottom:15px;
    animation-name:new_post;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    overflow: hidden;
}

.element-control span{
    color: #7e7e7e;
}
#postForm, #profil{
    animation-name: initial;
    animation-duration:initial;
}

/* NAVBAR */
header{
    position:relative;
}
header > div {
    width:275px;
}
nav{
    width: 275px;
}
.navbar .container{
    text-align:left;
}
.nav.flex-column{
    justify-content: space-between;
}
.nav-item{
    margin-bottom:20px;
    font-weight:700;
}
.nav-item svg{
    width: 30px;
    margin-right:10px;
}
.nav-link{
    font-size:26px;
    color: #000;
    padding: 0.5rem 1rem;
    transition-duration: 0.1s;
    border-radius: 50px;
    display:flex;

}
.nav-link:hover, #navbar-brand a:hover{
    background-color: #0056b338;
}
.nav-link i{
    width:50px;
}
#navbar-brand{
    padding:0 0 10px 10px;
}
#navbar-brand a{
    padding: 0 1rem 1rem 1rem;
    font-size:26px;
    padding: 10px;
    border-radius:50%;
    transition-duration: 0.1s;
}
#navbar-brand svg{
    width: 40px;
    position: relative;
    top: -3px;
    left: 1px;
}
#showProfile span{
    font-weight:700;
}
#profileCounter{
    display:inline-block;
}

/* FORMS */
form label{
    font-weight: 700;
}
#sL{
    display:flex;
    height:56px;
    align-items: center;
    align-content: center;
    flex-direction:row;
    justify-content: flex-end;
}
#sL > div:last-child{
    display:inline-block;
}
#charCountControl{
    display:none;
    margin-right:10px;
}
.vis{
    display:inline-block!important;
}
#submitPost{
    line-height: 1;
    padding: 10px 15px;
    cursor:initial;
}
#followBtn{
    float:right;
}
#profil{
    margin-bottom:20px;
}

/* Post */
#posts{
    position: relative;

}
.iconRow{
    display:flex;
    flex-direction:row;
    margin-top:10px;
    justify-content: space-between;
    gap: 60px;
    width: max-content;
}
.iconControl{
    display:flex;
    margin-right:5px;
    padding: 10px;
    border-radius:50%;
    transition-duration: 0.1s;
}
.likes:hover .iconControl{
    background-color: rgba(255, 45, 45, 0.5);
}
.comments:hover .iconControl{
    background-color:rgb(45, 111, 255, 0.5);
}
.retweets:hover .iconControl{
    background-color:rgb(0, 128, 0, 0.5);
}
#editBtn:hover{
    background-color:rgb(107, 107, 107, 0.2);
    color:rgb(107, 107, 107);
}
.retweets svg{
    left:-2px;
}
.socialIcon{
    overflow: initial;
    position:relative;
    width: 18px;
}
.iconCounter{
    width: max-content;
    display:inline-block;
    padding-bottom:3px;
}
.post-content{
    position: relative;
    width: 100%;
    animation-name: new_post_content;
    animation-duration:0.5s;
    animation-timing-function: ease-out;
}
.fa-user-circle{
    font-size: 2.2rem;
}
#editBtn{
    float:right;
    margin-right:0;
}
.btn.btn-primary.paginatorBtn{
    display:none;
    position: absolute; 
    margin: auto;
    left:0;
    right:0;
    z-index:3;
    opacity: 0.8;
}
#paginatorPrevious{
    top:-25px;
}
#paginatorNext{
    bottom: -25px;
}
#editBtn .socialIcon{
    right: -1px;
}
.likes, .comments, .retweets{
    width: max-content;
    display:flex;
    flex-direction:row;
    align-items: center;
}
.likes, .comments, .retweets, #editBtn{
    color: #7e7e7e;
}
.comments.active{
    color:#2d6fff!important;
}
.retweets.active{
    color:#008000!important;
}
.likes.active{
    color: #ff2d2d!important;
}
.comments:hover, .likes:hover, .retweets:hover, #editBtn:hover{
    cursor: pointer;
}
.comments:hover{
    color:rgb(45, 111, 255);
}
.retweets:hover{
    color:rgb(0, 128, 0);
}
.likes:hover{
    color: rgb(255, 45, 45);
}

/* Animation */
@keyframes new_post {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height:165px;
    }
}
@keyframes new_post_content {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}